h1 {
    font-size: 3.125rem;
    margin: 1.5rem auto;
    text-transform: uppercase;
}

.card-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 50px;
    width: 80%;
    margin: 1.5 auto;
    justify-content: center;
}

.card {
    background-color: rgb(213, 201, 199);
    border-radius: 6px;
    max-width: 300px;
    overflow: hidden;
    margin: 0 auto;
    transition: transform 0.3s ease-out;
}

.card ul {
    list-style: none;
}

.card img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.card h2 {
    color: rgb(38, 38, 38);
    font-size: 2rem;
    margin: 1rem 0;
}


.card ul {
    width: 150px;
    margin: 1rem auto;
}

.card li {
    color: rgb(38, 38, 38);
    font-size: 1rem;
    text-align: left;
}

.icons {
    position: relative;
    width: 1rem;
    top: 0.125rem;
}

.card:hover {
    transform: scale(1.05);
}

.card a {
    background-color: rgb(255, 159, 50);
    margin: 20px auto;
    text-decoration: none;
    color: white;
    padding: 10px 5px;
    display: block;
    width: 45%;
    border-radius: 6px;
    transition: background-color 0.3s ease-out;
    font-weight: bold;
    font-size: 1.25rem;
}

.card a:hover {
    background-color: rgb(255, 146, 21);
}
